---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>
				<path
					d="M151.931 193.418C148.051 192.305 144.66 189.547 142.408 185.675C141.946 184.951 141.206 183.938 140.929 183.468L139.912 181.876C139.203 180.79 138.649 179.958 137.971 179.017C137.293 178.076 135.721 176.701 134.704 175.399L134.211 174.856L133.841 174.386C133.693 174.175 133.528 173.981 133.348 173.807C132.951 173.326 132.432 173.009 131.869 172.902C130.575 172.902 130.297 174.53 130.051 176.05C130.051 176.231 130.051 177.244 130.051 177.859C130.051 178.474 130.051 179.307 130.051 180.03C130.056 181.449 130.159 182.865 130.359 184.264C130.802 187.536 131.643 190.716 132.855 193.708C133.286 194.612 132.855 195.553 131.345 195.951C129.073 196.427 126.751 195.514 125.182 193.527C124.421 192.524 123.721 191.46 123.086 190.343C122.584 189.198 122.211 187.982 121.977 186.724C121.509 184.493 121.22 182.216 121.114 179.922L120.929 176.484C120.885 174.636 120.947 172.787 121.114 170.948C121.569 167.677 123.124 164.757 125.428 162.843C128.269 160.954 131.713 160.792 134.673 162.409C136.236 163.171 137.724 164.13 139.111 165.268C140.203 166.078 141.235 166.999 142.193 168.017C144.051 170.026 145.772 172.204 147.339 174.53C149.188 177.136 149.219 177.534 150.051 178.619C150.467 179.313 151.078 179.812 151.777 180.03C152.5 180.053 153.165 179.57 153.471 178.8C153.783 178.269 154.041 177.699 154.242 177.099C154.382 176.771 154.505 176.432 154.612 176.086L155.105 174.603L157.508 167.366C158.659 163.176 160.177 159.138 162.039 155.317C162.496 154.416 163.011 153.557 163.579 152.748C164.313 151.563 165.425 150.779 166.661 150.577C167.782 150.859 168.791 151.572 169.527 152.603C169.929 153.024 170.3 153.484 170.636 153.978C171.117 154.829 171.394 155.817 171.438 156.837C171.73 157.895 171.73 159.035 171.438 160.093C169.281 165.434 167.367 170.905 165.706 176.484L164.257 180.645C163.926 181.887 163.514 183.097 163.025 184.264C162.64 185.442 162.133 186.56 161.515 187.593C160.978 188.599 160.336 189.523 159.604 190.343L158.556 191.5L157.354 192.369C155.679 193.478 153.751 193.946 151.838 193.708L151.931 193.418Z"
					fill="#C10060"></path>
				<path
					d="M105.873 240.933C95.1089 226.274 85.3636 210.676 76.726 194.281C67.5975 177.262 61.5549 158.319 58.9574 138.577C56.9941 123.636 58.1804 108.375 62.4176 94.0638C66.6136 81.2956 73.7818 70.0811 83.1477 61.6322C92.46 53.448 103.51 48.2448 115.162 46.5568C126.455 44.8617 137.932 45.8813 148.86 49.5505C159.853 53.2905 169.83 60.1715 177.851 69.5441C184.67 77.8074 190.205 87.3412 194.217 97.7347C198.09 107.77 201.056 118.231 203.07 128.955C204.363 135.848 205.217 142.84 205.626 149.875C206.119 156.738 206.285 163.626 206.125 170.51C205.964 184.157 205.11 197.782 203.569 211.317C203.198 214.43 202.672 216.214 202.039 216.849C200.969 217.922 199.594 215.715 198.145 211.103C195.054 199.533 193.294 187.553 192.908 175.464C192.689 168.692 192.222 161.956 191.848 155.363C191.513 148.923 190.857 142.509 189.884 136.154C187.799 123.631 184.244 111.487 179.316 100.051C176.859 94.6639 173.912 89.5871 170.526 84.9045C167.171 80.4517 163.301 76.5429 159.023 73.2862C154.599 70.1454 149.857 67.6322 144.901 65.8019C139.643 64.0029 134.228 62.8676 128.754 62.4162C115.665 61.0516 102.618 65.492 92.3125 74.8187C82.1754 84.5976 75.6495 98.399 74.0452 113.452C73.0977 121.933 73.2132 130.525 74.3881 138.969C75.6648 147.589 77.7552 156.026 80.6227 164.13C87.0173 180.666 95.1849 196.229 104.938 210.461C110.05 218.231 115.381 225.858 120.867 233.449L136.266 254.583C136.765 255.224 137.17 255.937 137.7 256.507C138.23 257.077 139.134 256.293 139.789 256.008C140.444 255.723 141.503 254.903 142.345 254.298L146.959 250.734C150.076 248.31 153.38 245.851 156.716 243.606C158.368 242.43 160.083 241.254 161.797 240.042L164.54 238.331C165.6 237.69 166.504 237.119 167.845 236.407C172.489 233.764 177.414 231.823 182.496 230.633C186.778 229.672 191.182 229.672 195.464 230.633C199.517 231.466 203.273 233.62 206.281 236.834C207.806 238.506 208.487 240.948 208.089 243.321C207.637 245.209 206.828 246.96 205.72 248.453C204.282 250.515 202.694 252.43 200.973 254.176C199.733 255.435 198.424 256.607 197.054 257.683C193.936 260.178 190.289 262.673 186.673 265.168L181.405 268.731L179.41 270.228L177.695 271.583C176.457 272.551 175.26 273.584 174.108 274.68C173.729 275.04 173.355 275.407 172.986 275.78C172.467 276.305 171.959 276.842 171.461 277.392C169.849 279.048 168.563 281.077 167.689 283.343L167.502 283.985L163.013 282.31C162.944 282.272 162.863 282.272 162.795 282.31C162.795 282.31 162.795 282.31 162.795 282.06L163.044 281.49C163.169 281.115 163.232 280.716 163.231 280.314C163.409 279.137 163.493 277.944 163.48 276.75H164.135C165.226 276.536 166.567 276.144 167.876 275.752L176.137 273.115C183.961 270.692 194.498 267.342 201.262 267.983C203.123 268.096 204.966 268.467 206.749 269.088C208.426 269.767 209.956 270.848 211.237 272.26C211.726 273.166 212.094 274.151 212.328 275.182C212.45 276.008 212.45 276.851 212.328 277.677C212.06 279.893 211.459 282.039 210.552 284.021C209.462 286.392 208.099 288.586 206.499 290.543C205.493 291.664 204.465 292.758 203.416 293.824C202.726 294.524 202.028 295.212 201.321 295.888C199.451 297.674 197.518 299.375 195.526 300.985C195.526 300.985 195.305 301.173 195.007 301.428C194.687 301.701 194.277 302.051 193.957 302.324C193.659 302.578 193.438 302.767 193.438 302.767C193.374 302.825 193.311 302.883 193.247 302.94C192.807 303.335 192.35 303.705 191.879 304.05C191.162 304.513 190.507 304.905 189.884 305.226C188.723 305.806 187.524 306.283 186.299 306.652C185.178 307.133 184.127 307.806 183.182 308.647C182.434 309.218 181.717 309.182 181.155 307.899C180.532 305.905 180.532 303.727 181.155 301.733C181.529 300.368 182.009 299.044 182.589 297.777C182.886 297.066 183.219 296.376 183.587 295.71L183.868 295.176C183.868 295.176 183.868 295.176 183.868 294.926V294.499C184.207 293.518 184.624 292.576 185.114 291.683C185.42 291.167 185.681 290.618 185.894 290.044C185.926 289.819 185.926 289.591 185.894 289.367C185.921 289.204 185.885 289.036 185.795 288.906C185.706 288.776 185.571 288.697 185.426 288.689C184.233 288.666 183.054 288.984 181.997 289.616L180.875 290.186L180.439 290.471H180.251L179.784 290.685L173.051 292.752C170.376 293.587 167.659 294.23 164.914 294.677H161.859C161.132 294.634 160.411 294.502 159.709 294.285C159.112 294.125 158.529 293.91 157.963 293.643L157.059 293.18C156.31 292.699 155.609 292.125 154.97 291.469C152.304 288.81 151.01 284.777 151.541 280.777C151.541 280.314 151.541 279.815 151.728 279.388C151.915 278.96 152.009 278.318 151.978 278.461V277.819L152.289 276.928C152.631 275.824 153.07 274.761 153.599 273.757C154.025 272.793 154.526 271.874 155.095 271.012C156.682 268.441 158.51 266.077 160.546 263.962C160.875 263.621 161.208 263.286 161.548 262.958C161.788 262.723 162.028 262.49 162.267 262.261C162.697 261.849 163.126 261.446 163.554 261.052C165.054 259.671 166.543 258.393 168.032 257.184L171.149 254.903L172.053 254.191L171.242 254.69L169.933 255.509C168.811 256.222 167.689 257.006 166.567 257.755C162.078 260.891 157.62 264.383 152.788 268.054L150.949 269.444L149.421 270.585L147.645 271.832C145.377 273.483 142.937 274.8 140.381 275.752C138.004 276.5 135.495 276.5 133.118 275.752C132.539 275.596 132.004 275.278 131.559 274.826L130.063 273.65L126.946 271.297L104.813 241.361L105.873 240.933Z"
					fill="#5D63EA"></path>
				<path
					d="M182.432 64.948C174.411 55.5755 164.433 48.6945 153.441 44.9545L148.86 49.5505C159.853 53.2905 169.83 60.1715 177.851 69.5441L182.432 64.948Z"
					fill="#5D63EA"></path>
				<path
					d="M198.797 93.1386C194.785 82.7452 189.251 73.2114 182.432 64.9481L177.851 69.5441C184.67 77.8074 190.205 87.3412 194.217 97.7347L198.797 93.1386Z"
					fill="#5D63EA"></path>
				<path
					d="M163.603 68.6902C167.882 71.9469 171.752 75.8557 175.106 80.3085L170.526 84.9045C167.171 80.4517 163.301 76.5429 159.023 73.2862L163.603 68.6902Z"
					fill="#5D63EA"></path>
				<path
					d="M207.65 124.359C205.636 113.635 202.67 103.174 198.797 93.1386L194.217 97.7346C198.09 107.77 201.056 118.231 203.07 128.955L207.65 124.359Z"
					fill="#5D63EA"></path>
				<path
					d="M153.441 44.9545C142.513 41.2853 131.035 40.2657 119.743 41.9608L115.162 46.5568C126.455 44.8617 137.932 45.8813 148.86 49.5505L153.441 44.9545Z"
					fill="#5D63EA"></path>
				<path
					d="M175.106 80.3085C178.493 84.9911 181.439 90.0679 183.897 95.4552L179.316 100.051C176.859 94.6639 173.912 89.5871 170.526 84.9045L175.106 80.3085Z"
					fill="#5D63EA"></path>
				<path
					d="M149.482 61.2059C154.437 63.0362 159.179 65.5494 163.603 68.6902L159.023 73.2862C154.599 70.1454 149.857 67.6322 144.901 65.802L149.482 61.2059Z"
					fill="#5D63EA"></path>
				<path
					d="M133.334 57.8202C138.809 58.2716 144.223 59.4069 149.482 61.2059L144.901 65.8019C139.643 64.0029 134.228 62.8676 128.754 62.4162L133.334 57.8202Z"
					fill="#5D63EA"></path>
				<path
					d="M183.897 95.4552C188.824 106.891 192.379 119.035 194.464 131.558L189.884 136.154C187.799 123.631 184.244 111.487 179.316 100.051L183.897 95.4552Z"
					fill="#5D63EA"></path>
				<path
					d="M210.207 145.279C209.797 138.244 208.943 131.252 207.65 124.359L203.07 128.955C204.363 135.848 205.217 142.84 205.626 149.875L210.207 145.279Z"
					fill="#5D63EA"></path>
				<path
					d="M210.705 165.914C210.866 159.03 210.699 152.142 210.207 145.279L205.626 149.875C206.119 156.738 206.285 163.626 206.125 170.51L210.705 165.914Z"
					fill="#5D63EA"></path>
				<path
					d="M194.464 131.558C195.438 137.913 196.093 144.327 196.428 150.767L191.848 155.363C191.513 148.923 190.857 142.509 189.884 136.154L194.464 131.558Z"
					fill="#5D63EA"></path>
				<path
					d="M119.743 41.9608C108.09 43.6488 97.0403 48.852 87.728 57.0362L83.1477 61.6322C92.46 53.448 103.51 48.2448 115.162 46.5568L119.743 41.9608Z"
					fill="#5D63EA"></path>
				<path
					d="M96.8929 70.2226C107.198 60.896 120.245 56.4555 133.334 57.8202L128.754 62.4162C115.665 61.0515 102.618 65.492 92.3125 74.8187L96.8929 70.2226Z"
					fill="#5D63EA"></path>
				<path
					d="M196.428 150.767C196.802 157.36 197.27 164.096 197.488 170.868L192.908 175.464C192.689 168.692 192.222 161.956 191.848 155.363L196.428 150.767Z"
					fill="#5D63EA"></path>
				<path
					d="M208.149 206.721C209.691 193.186 210.544 179.561 210.705 165.914L206.125 170.51C205.964 184.157 205.11 197.782 203.569 211.317L208.149 206.721Z"
					fill="#5D63EA"></path>
				<path
					d="M197.488 170.868C197.874 182.957 199.634 194.937 202.725 206.507L198.145 211.103C195.054 199.533 193.294 187.553 192.908 175.464L197.488 170.868Z"
					fill="#5D63EA"></path>
				<path
					d="M82.853 61.8996C75.8595 69.6046 70.4329 79.0156 66.998 89.4678L62.4176 94.0638C66.5695 81.4299 73.6314 70.3171 82.853 61.8996C84.4026 60.1923 86.0292 58.5687 87.728 57.0361L83.1477 61.6321C83.0492 61.721 82.951 61.8101 82.853 61.8996Z"
					fill="#5D63EA"></path>
				<path
					d="M206.62 212.253C207.253 211.618 207.778 209.834 208.149 206.721L203.569 211.317C203.198 214.43 202.672 216.214 202.039 216.849L206.62 212.253Z"
					fill="#5D63EA"></path>
				<path
					d="M95.3544 71.7664C95.8575 71.2413 96.3704 70.7267 96.8929 70.2226L95.3544 71.7664C86.0961 81.4276 80.1472 94.5788 78.6255 108.856L74.0452 113.452C75.6495 98.399 82.1754 84.5976 92.3125 74.8186L95.3544 71.7664Z"
					fill="#5D63EA"></path>
				<path
					d="M202.725 206.507C204.174 211.119 205.55 213.326 206.62 212.253L202.039 216.849C200.969 217.922 199.594 215.715 198.145 211.103L202.725 206.507Z"
					fill="#5D63EA"></path>
				<path
					d="M210.861 232.238C207.853 229.024 204.097 226.87 200.044 226.037L195.464 230.633C199.517 231.466 203.273 233.62 206.281 236.834L210.861 232.238Z"
					fill="#5D63EA"></path>
				<path
					d="M212.669 238.725C213.067 236.352 212.386 233.91 210.861 232.238L206.281 236.834C207.806 238.506 208.487 240.948 208.089 243.321L212.669 238.725Z"
					fill="#5D63EA"></path>
				<path
					d="M210.3 243.857C211.408 242.364 212.217 240.613 212.669 238.725L208.089 243.321C207.637 245.209 206.828 246.96 205.72 248.453L210.3 243.857Z"
					fill="#5D63EA"></path>
				<path
					d="M200.044 226.037C195.762 225.076 191.358 225.076 187.076 226.037L182.496 230.633C186.778 229.672 191.182 229.672 195.464 230.633L200.044 226.037Z"
					fill="#5D63EA"></path>
				<path
					d="M205.554 249.58C207.274 247.834 208.862 245.919 210.3 243.857L205.72 248.453C204.282 250.515 202.694 252.43 200.973 254.176L205.554 249.58Z"
					fill="#5D63EA"></path>
				<path
					d="M78.9685 134.373C77.7935 125.929 77.6781 117.337 78.6255 108.856L74.0452 113.452C73.0977 121.933 73.2132 130.525 74.3881 138.969L78.9685 134.373Z"
					fill="#5D63EA"></path>
				<path
					d="M66.998 89.4678C62.7608 103.779 61.5744 119.04 63.5378 133.981L58.9574 138.577C56.9941 123.636 58.1804 108.375 62.4176 94.0638L66.998 89.4678Z"
					fill="#5D63EA"></path>
				<path
					d="M205.554 249.58C205.439 249.696 205.324 249.812 205.208 249.927L200.973 254.176C199.733 255.435 198.424 256.607 197.054 257.683L201.634 253.087C202.878 252.11 204.071 251.055 205.208 249.927L205.554 249.58Z"
					fill="#5D63EA"></path>
				<path
					d="M187.076 226.037C181.994 227.227 177.069 229.168 172.425 231.811L167.845 236.407C172.489 233.764 177.414 231.823 182.496 230.633L187.076 226.037Z"
					fill="#5D63EA"></path>
				<path
					d="M215.818 267.664C214.537 266.252 213.006 265.171 211.329 264.492L206.748 269.088C208.426 269.767 209.956 270.848 211.237 272.26L215.818 267.664Z"
					fill="#5D63EA"></path>
				<path
					d="M216.909 270.586C216.675 269.555 216.307 268.57 215.818 267.664L211.237 272.26C211.726 273.166 212.094 274.151 212.328 275.182L216.909 270.586Z"
					fill="#5D63EA"></path>
				<path
					d="M216.909 273.081C217.03 272.255 217.03 271.412 216.909 270.586L212.329 275.182C212.45 276.008 212.45 276.851 212.329 277.677L216.909 273.081Z"
					fill="#5D63EA"></path>
				<path
					d="M211.329 264.492C209.546 263.871 207.704 263.5 205.842 263.387L201.262 267.983C203.123 268.096 204.966 268.467 206.749 269.088L211.329 264.492Z"
					fill="#5D63EA"></path>
				<path
					d="M215.132 279.425C216.039 277.443 216.64 275.297 216.909 273.081L212.328 277.677C212.06 279.893 211.459 282.039 210.552 284.021L215.132 279.425Z"
					fill="#5D63EA"></path>
				<path
					d="M191.253 260.572C194.87 258.077 198.517 255.582 201.634 253.087L197.054 257.683C193.936 260.178 190.289 262.673 186.673 265.168L191.253 260.572Z"
					fill="#5D63EA"></path>
				<path
					d="M172.425 231.811C171.085 232.523 170.181 233.094 169.121 233.735L164.54 238.331C165.6 237.69 166.504 237.119 167.845 236.407L172.425 231.811Z"
					fill="#5D63EA"></path>
				<path
					d="M85.203 159.534C82.3356 151.43 80.2452 142.993 78.9684 134.373L74.3881 138.969C75.6648 147.589 77.7552 156.026 80.6227 164.13L85.203 159.534Z"
					fill="#5D63EA"></path>
				<path
					d="M169.121 233.735L166.377 235.446L161.797 240.042L164.54 238.331L169.121 233.735Z"
					fill="#5D63EA"></path>
				<path
					d="M211.08 285.947C212.68 283.99 214.043 281.796 215.132 279.425L210.552 284.021C209.462 286.392 208.099 288.586 206.499 290.543L211.08 285.947Z"
					fill="#5D63EA"></path>
				<path
					d="M205.842 263.387C199.078 262.745 188.541 266.096 180.717 268.519L176.137 273.115C183.961 270.692 194.498 267.341 201.262 267.983L205.842 263.387Z"
					fill="#5D63EA"></path>
				<path
					d="M166.377 235.446C164.663 236.658 162.948 237.834 161.296 239.01L156.716 243.606C158.368 242.43 160.083 241.254 161.797 240.042L166.377 235.446Z"
					fill="#5D63EA"></path>
				<path
					d="M175.823 250.094L176.633 249.595L172.053 254.191L171.242 254.69L175.823 250.094Z"
					fill="#5D63EA"></path>
				<path
					d="M185.985 264.135L191.253 260.572L186.673 265.168L181.405 268.731L185.985 264.135Z"
					fill="#5D63EA"></path>
				<path
					d="M176.633 249.595L175.729 250.307L171.149 254.903L172.053 254.191L176.633 249.595Z"
					fill="#5D63EA"></path>
				<path
					d="M174.514 250.913L175.823 250.094L171.243 254.69L169.933 255.509L174.514 250.913Z"
					fill="#5D63EA"></path>
				<path
					d="M175.729 250.307L172.612 252.588L168.032 257.184L171.149 254.903L175.729 250.307Z"
					fill="#5D63EA"></path>
				<path
					d="M207.996 289.228C209.045 288.162 210.074 287.068 211.079 285.947L206.499 290.543C205.493 291.664 204.465 292.758 203.416 293.824L207.996 289.228Z"
					fill="#5D63EA"></path>
				<path
					d="M171.147 253.159C172.269 252.41 173.391 251.626 174.514 250.913L169.933 255.509C168.811 256.222 167.689 257.006 166.567 257.755L171.147 253.159Z"
					fill="#5D63EA"></path>
				<path
					d="M183.99 265.632L185.985 264.135L181.405 268.731L179.41 270.228L183.99 265.632Z"
					fill="#5D63EA"></path>
				<path
					d="M182.276 266.987L183.99 265.632L179.41 270.228L177.695 271.583L182.276 266.987Z"
					fill="#5D63EA"></path>
				<path
					d="M207.996 289.228C207.719 289.509 207.441 289.788 207.162 290.065L203.416 293.824C202.726 294.524 202.028 295.212 201.321 295.888L205.901 291.292C206.325 290.887 206.745 290.478 207.162 290.065L207.996 289.228Z"
					fill="#5D63EA"></path>
				<path
					d="M172.612 252.588C171.123 253.797 169.634 255.075 168.135 256.456L163.554 261.052C165.054 259.671 166.543 258.393 168.032 257.184L172.612 252.588Z"
					fill="#5D63EA"></path>
				<path
					d="M109.518 205.865C99.7652 191.633 91.5976 176.07 85.203 159.534L80.6227 164.13C87.0173 180.666 95.1849 196.229 104.938 210.461L109.518 205.865Z"
					fill="#5D63EA"></path>
				<path
					d="M161.296 239.01C157.961 241.255 154.656 243.714 151.539 246.138L146.959 250.734C150.076 248.31 153.38 245.851 156.716 243.606L161.296 239.01Z"
					fill="#5D63EA"></path>
				<path
					d="M178.688 270.084C179.84 268.988 181.038 267.955 182.276 266.987L177.695 271.583C176.457 272.551 175.26 273.584 174.108 274.68L178.688 270.084Z"
					fill="#5D63EA"></path>
				<path
					d="M168.135 256.456C167.706 256.85 167.277 257.253 166.847 257.665L162.267 262.261C162.697 261.849 163.126 261.446 163.554 261.052L168.135 256.456Z"
					fill="#5D63EA"></path>
				<path
					d="M63.5378 133.981C66.1353 153.723 72.1779 172.666 81.3064 189.685L76.7261 194.281C67.5975 177.262 61.5549 158.319 58.9575 138.577L63.5378 133.981Z"
					fill="#5D63EA"></path>
				<path
					d="M200.107 296.389C202.098 294.779 204.031 293.078 205.901 291.292L201.321 295.888C199.451 297.674 197.518 299.375 195.526 300.985L200.107 296.389Z"
					fill="#5D63EA"></path>
				<path
					d="M166.847 257.665C166.608 257.894 166.368 258.127 166.128 258.362L161.548 262.958C161.788 262.723 162.028 262.49 162.267 262.261L166.847 257.665Z"
					fill="#5D63EA"></path>
				<path
					d="M177.566 271.184C177.935 270.811 178.309 270.444 178.688 270.084L174.108 274.68C173.831 274.943 173.556 275.21 173.284 275.481L172.985 275.78C173.085 275.68 173.184 275.58 173.284 275.481L177.566 271.184Z"
					fill="#5D63EA"></path>
				<path
					d="M180.717 268.519L172.456 271.156L167.876 275.752L176.137 273.115L180.717 268.519Z"
					fill="#5D63EA"></path>
				<path
					d="M165.126 259.366C165.455 259.025 165.789 258.69 166.128 258.362L161.548 262.958C161.538 262.967 161.529 262.977 161.519 262.986L160.546 263.962C160.865 263.63 161.19 263.305 161.519 262.986L165.126 259.366Z"
					fill="#5D63EA"></path>
				<path
					d="M190.007 284.093C190.151 284.101 190.286 284.18 190.376 284.31L185.795 288.906C185.706 288.776 185.571 288.697 185.426 288.689L190.007 284.093Z"
					fill="#5D63EA"></path>
				<path
					d="M190.376 284.31C190.466 284.44 190.501 284.608 190.474 284.771L185.894 289.367C185.921 289.204 185.885 289.036 185.795 288.906L190.376 284.31Z"
					fill="#5D63EA"></path>
				<path
					d="M157.368 263.458C162.2 259.787 166.658 256.295 171.147 253.159L166.567 257.755C162.078 260.891 157.62 264.383 152.788 268.054L157.368 263.458Z"
					fill="#5D63EA"></path>
				<path
					d="M190.474 284.771C190.507 284.995 190.507 285.223 190.474 285.448L185.894 290.044C185.926 289.819 185.926 289.591 185.894 289.367L190.474 284.771Z"
					fill="#5D63EA"></path>
				<path
					d="M176.041 272.796C176.539 272.246 177.048 271.709 177.566 271.184L172.986 275.78C172.467 276.305 171.959 276.842 171.461 277.392L176.041 272.796Z"
					fill="#5D63EA"></path>
				<path
					d="M190.474 285.448C190.261 286.022 190 286.571 189.695 287.087L185.114 291.683C185.42 291.167 185.681 290.618 185.894 290.044L190.474 285.448Z"
					fill="#5D63EA"></path>
				<path
					d="M186.578 285.02C187.635 284.388 188.814 284.07 190.007 284.093L185.426 288.689C184.233 288.666 183.055 288.984 181.997 289.616L186.578 285.02Z"
					fill="#5D63EA"></path>
				<path
					d="M199.587 296.832L200.107 296.389L195.526 300.985L195.007 301.428L199.587 296.832Z"
					fill="#5D63EA"></path>
				<path
					d="M198.537 297.728L199.587 296.832L195.007 301.428L193.957 302.324L198.537 297.728Z"
					fill="#5D63EA"></path>
				<path
					d="M151.539 246.138L146.926 249.702L142.345 254.298L146.959 250.734L151.539 246.138Z"
					fill="#5D63EA"></path>
				<path
					d="M185.455 285.59L186.578 285.02L181.997 289.616L180.875 290.186L185.455 285.59Z"
					fill="#5D63EA"></path>
				<path
					d="M189.695 287.087C189.205 287.98 188.787 288.922 188.448 289.903L183.868 294.499C184.207 293.518 184.624 292.576 185.114 291.683L189.695 287.087Z"
					fill="#5D63EA"></path>
				<path
					d="M198.018 298.171L198.537 297.728L193.957 302.324L193.438 302.767L198.018 298.171Z"
					fill="#5D63EA"></path>
				<path
					d="M125.447 228.853C119.961 221.262 114.63 213.635 109.518 205.865L104.938 210.461C110.05 218.231 115.381 225.858 120.867 233.449L125.447 228.853Z"
					fill="#5D63EA"></path>
				<path
					d="M197.827 298.344C197.891 298.287 197.955 298.229 198.018 298.171L193.438 302.767C193.374 302.825 193.311 302.883 193.247 302.94L197.827 298.344Z"
					fill="#5D63EA"></path>
				<path
					d="M185.019 285.875L185.455 285.59L180.875 290.186L180.439 290.471L185.019 285.875Z"
					fill="#5D63EA"></path>
				<path
					d="M165.126 259.366C163.091 261.481 161.262 263.845 159.675 266.416L155.095 271.012C156.682 268.441 158.51 266.077 160.546 263.962L165.126 259.366Z"
					fill="#5D63EA"></path>
				<path d="M184.832 285.875H185.019L180.438 290.471H180.251L184.832 285.875Z" fill="#5D63EA"
				></path>
				<path
					d="M172.456 271.156C171.147 271.548 169.806 271.94 168.715 272.154L164.135 276.75C165.226 276.536 166.567 276.144 167.876 275.752L172.456 271.156Z"
					fill="#5D63EA"></path>
				<path
					d="M184.364 286.089L184.832 285.875L180.251 290.471L179.784 290.685L184.364 286.089Z"
					fill="#5D63EA"></path>
				<path
					d="M172.269 278.747C173.144 276.481 174.429 274.452 176.041 272.796L171.461 277.392C169.849 279.048 168.563 281.077 167.689 283.343L172.269 278.747Z"
					fill="#5D63EA"></path>
				<path d="M188.448 289.903V290.33L183.868 294.926V294.499L188.448 289.903Z" fill="#5D63EA"
				></path>
				<path
					d="M196.459 299.454C196.931 299.109 197.387 298.739 197.827 298.344L193.247 302.94C192.807 303.335 192.35 303.705 191.879 304.05L196.459 299.454Z"
					fill="#5D63EA"></path>
				<path d="M188.448 290.33V290.58L183.868 295.176V294.926L188.448 290.33Z" fill="#5D63EA"
				></path>
				<path
					d="M188.448 290.58L188.167 291.114L183.587 295.71L183.868 295.176L188.448 290.58Z"
					fill="#5D63EA"></path>
				<path d="M168.715 272.154H168.061L163.48 276.75H164.135L168.715 272.154Z" fill="#5D63EA"
				></path>
				<path
					d="M188.167 291.114C187.799 291.78 187.466 292.47 187.17 293.181L182.59 297.777C182.886 297.066 183.219 296.376 183.587 295.71L188.167 291.114Z"
					fill="#5D63EA"></path>
				<path
					d="M194.464 300.63C195.088 300.309 195.742 299.917 196.459 299.454L191.879 304.05C191.162 304.513 190.507 304.905 189.884 305.226L194.464 300.63Z"
					fill="#5D63EA"></path>
				<path
					d="M146.926 249.702C146.084 250.307 145.024 251.127 144.369 251.412L139.789 256.008C140.444 255.723 141.504 254.903 142.345 254.298L146.926 249.702Z"
					fill="#5D63EA"></path>
				<path
					d="M168.061 272.154C168.073 273.348 167.99 274.541 167.811 275.718L163.231 280.314C163.409 279.137 163.493 277.944 163.48 276.75L168.061 272.154Z"
					fill="#5D63EA"></path>
				<path
					d="M177.631 288.156L184.364 286.089L179.784 290.685L173.051 292.752L177.631 288.156Z"
					fill="#5D63EA"></path>
				<path
					d="M140.847 249.987L125.447 228.853L120.867 233.449L136.266 254.583L140.847 249.987Z"
					fill="#5D63EA"></path>
				<path
					d="M172.082 279.389L172.269 278.747L167.689 283.343L167.502 283.985L172.082 279.389Z"
					fill="#5D63EA"></path>
				<path
					d="M155.529 264.848L157.368 263.458L152.788 268.054L150.949 269.444L155.529 264.848Z"
					fill="#5D63EA"></path>
				<path
					d="M144.369 251.412C143.715 251.697 142.811 252.481 142.281 251.911L137.7 256.507C138.23 257.077 139.134 256.293 139.789 256.008L144.369 251.412Z"
					fill="#5D63EA"></path>
				<path
					d="M190.879 302.056C192.105 301.687 193.303 301.21 194.464 300.63L189.884 305.226C188.723 305.806 187.524 306.283 186.299 306.652L190.879 302.056Z"
					fill="#5D63EA"></path>
				<path
					d="M167.811 275.718C167.813 276.12 167.749 276.519 167.624 276.894L163.044 281.49C163.169 281.115 163.232 280.716 163.231 280.314L167.811 275.718Z"
					fill="#5D63EA"></path>
				<path
					d="M187.17 293.181C186.59 294.448 186.11 295.772 185.736 297.137L181.156 301.733C181.529 300.368 182.009 299.044 182.589 297.777L187.17 293.181Z"
					fill="#5D63EA"></path>
				<path
					d="M167.593 277.714L172.082 279.389L167.502 283.985L163.013 282.31L167.593 277.714Z"
					fill="#5D63EA"></path>
				<path
					d="M159.675 266.416C159.106 267.278 158.605 268.197 158.179 269.161L153.599 273.757C154.025 272.793 154.526 271.874 155.095 271.012L159.675 266.416Z"
					fill="#5D63EA"></path>
				<path
					d="M142.281 251.911C141.751 251.341 141.346 250.628 140.847 249.987L136.266 254.583C136.765 255.224 137.17 255.937 137.7 256.507L142.281 251.911Z"
					fill="#5D63EA"></path>
				<path
					d="M167.624 276.894L167.375 277.464L162.795 282.06L163.044 281.49L167.624 276.894Z"
					fill="#5D63EA"></path>
				<path d="M167.375 277.464V277.714L162.795 282.31V282.06L167.375 277.464Z" fill="#5D63EA"
				></path>
				<path
					d="M167.375 277.714C167.444 277.676 167.524 277.676 167.593 277.714L163.013 282.31C162.944 282.272 162.864 282.272 162.795 282.31L167.375 277.714Z"
					fill="#5D63EA"></path>
				<path
					d="M154.002 265.989L155.529 264.848L150.949 269.444L149.421 270.585L154.002 265.989Z"
					fill="#5D63EA"></path>
				<path
					d="M158.179 269.161C157.65 270.165 157.212 271.228 156.87 272.332L152.289 276.928C152.631 275.824 153.07 274.761 153.599 273.757L158.179 269.161Z"
					fill="#5D63EA"></path>
				<path
					d="M152.225 267.236L154.002 265.989L149.421 270.585L147.645 271.832L152.225 267.236Z"
					fill="#5D63EA"></path>
				<path
					d="M187.762 304.051C188.707 303.21 189.758 302.537 190.879 302.056L186.299 306.652C185.178 307.133 184.127 307.806 183.182 308.647L187.762 304.051Z"
					fill="#5D63EA"></path>
				<path
					d="M185.736 297.137C185.113 299.131 185.113 301.309 185.736 303.303L181.155 307.899C180.532 305.905 180.532 303.727 181.155 301.733L185.736 297.137Z"
					fill="#5D63EA"></path>
				<path
					d="M169.495 290.081C172.239 289.634 174.957 288.991 177.631 288.156L173.051 292.752C170.376 293.587 167.659 294.23 164.914 294.677L169.495 290.081Z"
					fill="#5D63EA"></path>
				<path
					d="M156.87 272.332L156.558 273.223L151.978 277.819L152.289 276.928L156.87 272.332Z"
					fill="#5D63EA"></path>
				<path
					d="M185.736 303.303C186.297 304.586 187.014 304.622 187.762 304.051L183.182 308.647C182.434 309.218 181.717 309.182 181.156 307.899L185.736 303.303Z"
					fill="#5D63EA"></path>
				<path d="M156.558 273.223V273.865L151.978 278.461V277.819L156.558 273.223Z" fill="#5D63EA"
				></path>
				<path
					d="M81.3064 189.685C89.944 206.08 99.6892 221.678 110.453 236.337L105.873 240.933C95.1089 226.274 85.3636 210.676 76.726 194.281L81.3064 189.685Z"
					fill="#5D63EA"></path>
				<path
					d="M156.558 273.865C156.589 273.722 156.496 274.364 156.309 274.792L151.728 279.388C151.88 279.039 151.971 278.549 151.982 278.456L151.978 278.461C151.983 278.434 151.985 278.435 151.982 278.456L156.558 273.865Z"
					fill="#5D63EA"></path>
				<path
					d="M156.309 274.792C156.122 275.219 156.122 275.718 156.122 276.181L151.541 280.777C151.541 280.314 151.541 279.815 151.728 279.388L156.309 274.792Z"
					fill="#5D63EA"></path>
				<path
					d="M144.962 271.156C147.517 270.204 149.958 268.887 152.225 267.236L147.645 271.832C145.377 273.483 142.937 274.8 140.381 275.752L144.962 271.156Z"
					fill="#5D63EA"></path>
				<path d="M166.44 290.081H169.495L164.914 294.677H161.859L166.44 290.081Z" fill="#5D63EA"
				></path>
				<path
					d="M156.122 276.181C155.591 280.181 156.884 284.214 159.551 286.873L154.97 291.469C152.304 288.81 151.01 284.777 151.541 280.777L156.122 276.181Z"
					fill="#5D63EA"></path>
				<path
					d="M164.289 289.689C164.992 289.906 165.713 290.038 166.44 290.081L161.859 294.677C161.132 294.634 160.411 294.502 159.709 294.285L164.289 289.689Z"
					fill="#5D63EA"></path>
				<path
					d="M162.543 289.047C163.109 289.314 163.693 289.529 164.289 289.689L159.708 294.285C159.112 294.125 158.529 293.91 157.963 293.643L162.543 289.047Z"
					fill="#5D63EA"></path>
				<path
					d="M161.639 288.584L162.543 289.047L157.963 293.643L157.059 293.18L161.639 288.584Z"
					fill="#5D63EA"></path>
				<path
					d="M110.453 236.337L109.393 236.765L104.813 241.361L105.873 240.933L110.453 236.337Z"
					fill="#5D63EA"></path>
				<path
					d="M159.551 286.873C160.19 287.529 160.89 288.103 161.639 288.584L157.059 293.18C156.31 292.699 155.61 292.125 154.97 291.469L159.551 286.873Z"
					fill="#5D63EA"></path>
				<path
					d="M137.698 271.156C140.075 271.904 142.585 271.904 144.962 271.156L140.381 275.752C138.004 276.5 135.495 276.5 133.118 275.752L137.698 271.156Z"
					fill="#5D63EA"></path>
				<path
					d="M109.393 236.765L131.526 266.701L126.946 271.297L104.813 241.361L109.393 236.765Z"
					fill="#5D63EA"></path>
				<path
					d="M136.14 270.23C136.584 270.682 137.12 271 137.698 271.156L133.118 275.752C132.539 275.596 132.004 275.278 131.559 274.826L136.14 270.23Z"
					fill="#5D63EA"></path>
				<path
					d="M134.643 269.054L136.14 270.23L131.559 274.826L130.063 273.65L134.643 269.054Z"
					fill="#5D63EA"></path>
				<path
					d="M131.526 266.701L134.643 269.054L130.063 273.65L126.946 271.297L131.526 266.701Z"
					fill="#5D63EA"></path>
				<path
					d="M110.453 236.337C99.6893 221.678 89.944 206.08 81.3064 189.685C72.1779 172.666 66.1353 153.723 63.5378 133.981C61.5745 119.04 62.7608 103.779 66.998 89.4678C71.194 76.6996 78.3622 65.4851 87.7281 57.0362C97.0404 48.852 108.09 43.6488 119.743 41.9608C131.035 40.2657 142.513 41.2853 153.441 44.9545C164.433 48.6945 174.411 55.5755 182.432 64.9481C189.251 73.2114 194.785 82.7452 198.797 93.1386C202.67 103.174 205.636 113.635 207.65 124.359C208.943 131.252 209.797 138.244 210.207 145.279C210.699 152.142 210.866 159.03 210.705 165.914C210.544 179.561 209.691 193.186 208.149 206.721C207.152 215.096 205.032 213.849 202.725 206.507C199.634 194.937 197.874 182.957 197.488 170.868C197.27 164.096 196.802 157.36 196.428 150.767C196.093 144.327 195.438 137.913 194.464 131.558C192.379 119.035 188.824 106.891 183.897 95.4552C181.439 90.0679 178.493 84.991 175.106 80.3085C171.752 75.8557 167.882 71.9469 163.603 68.6902C159.179 65.5494 154.437 63.0362 149.482 61.2059C144.223 59.4069 138.809 58.2716 133.334 57.8202C120.245 56.4555 107.198 60.896 96.8929 70.2226C86.7558 80.0016 80.2299 93.803 78.6255 108.856C77.6781 117.337 77.7935 125.929 78.9684 134.373C80.2452 142.993 82.3356 151.43 85.203 159.534C91.5977 176.07 99.7652 191.633 109.518 205.865C114.63 213.635 119.961 221.262 125.447 228.853L140.847 249.987C141.346 250.628 141.751 251.341 142.281 251.911C142.811 252.481 143.715 251.697 144.369 251.412C145.024 251.127 146.084 250.307 146.926 249.702L151.539 246.138C154.656 243.714 157.961 241.255 161.296 239.01C162.948 237.834 164.663 236.658 166.377 235.446L169.121 233.735C170.181 233.094 171.085 232.523 172.425 231.811C177.069 229.168 181.994 227.227 187.076 226.037C191.358 225.076 195.762 225.076 200.044 226.037C204.097 226.87 207.853 229.024 210.861 232.238C212.387 233.91 213.067 236.352 212.669 238.725C212.217 240.613 211.408 242.364 210.3 243.857C207.826 247.406 204.906 250.517 201.634 253.087C198.517 255.582 194.87 258.077 191.254 260.572L185.985 264.135L183.99 265.632L182.276 266.987C180.059 268.72 177.973 270.663 176.041 272.796C174.429 274.452 173.144 276.481 172.269 278.747L172.082 279.389V279.389L167.593 277.714V277.714V277.714C167.524 277.676 167.444 277.676 167.375 277.714C167.094 277.714 167.375 277.714 167.375 277.714C167.375 277.714 167.375 277.714 167.375 277.464L167.624 276.894C167.749 276.519 167.813 276.12 167.811 275.718C167.99 274.541 168.073 273.348 168.061 272.154V272.154H168.715C169.807 271.94 171.147 271.548 172.456 271.156L180.717 268.519C188.541 266.096 199.078 262.746 205.842 263.387C207.704 263.5 209.546 263.871 211.329 264.492C213.006 265.171 214.537 266.252 215.818 267.664C216.307 268.57 216.675 269.555 216.909 270.586C217.03 271.412 217.03 272.255 216.909 273.081C216.641 275.297 216.039 277.443 215.132 279.425C214.043 281.796 212.68 283.99 211.08 285.947C207.667 289.751 203.998 293.242 200.107 296.389L198.018 298.171C197.519 298.631 196.999 299.059 196.459 299.454C195.742 299.917 195.088 300.309 194.464 300.63C193.303 301.21 192.105 301.687 190.879 302.056C189.758 302.537 188.707 303.21 187.762 304.051C187.014 304.622 186.297 304.586 185.736 303.303C185.113 301.309 185.113 299.131 185.736 297.137C186.11 295.772 186.59 294.448 187.17 293.181C187.466 292.47 187.799 291.78 188.167 291.114L188.448 290.58C188.448 290.58 188.448 290.58 188.448 290.33V289.903C188.787 288.922 189.205 287.98 189.695 287.087C190 286.571 190.261 286.022 190.474 285.448C190.507 285.223 190.507 284.995 190.474 284.771C190.501 284.608 190.466 284.44 190.376 284.31C190.286 284.18 190.151 284.101 190.007 284.093C188.814 284.07 187.635 284.388 186.578 285.02L185.455 285.59L185.019 285.875H184.832L184.364 286.089L177.631 288.156C174.957 288.991 172.239 289.634 169.495 290.081H167.811H166.44C165.713 290.038 164.992 289.906 164.289 289.689C163.693 289.529 163.109 289.314 162.543 289.047L161.639 288.584C160.89 288.103 160.19 287.529 159.551 286.873C156.884 284.214 155.591 280.181 156.122 276.181C156.122 275.718 156.122 275.219 156.309 274.792C156.496 274.364 156.589 273.722 156.558 273.865V273.651V273.223L156.87 272.332C157.212 271.228 157.65 270.165 158.179 269.161C158.605 268.197 159.106 267.278 159.675 266.416C161.519 263.429 163.687 260.723 166.128 258.362C168.31 256.224 170.461 254.335 172.612 252.588L175.729 250.307L176.633 249.595V249.595V249.595V249.595V249.595L175.823 250.094L174.514 250.913C173.391 251.626 172.269 252.41 171.147 253.159C166.658 256.295 162.2 259.787 157.368 263.458L155.529 264.848L154.002 265.989L152.225 267.236C149.958 268.887 147.517 270.204 144.962 271.156C142.585 271.904 140.075 271.904 137.698 271.156C137.12 271 136.584 270.682 136.14 270.23L134.643 269.054L131.526 266.701L109.393 236.765L110.453 236.337Z"
					fill="#B9ADA2"></path>
				<path
					d="M138.883 155.588C141.599 157.573 144.078 159.94 146.261 162.634L147.605 164.29V164.607L147.949 165.311L148.825 167.108C148.981 167.355 149.2 168.094 149.45 167.813C149.601 167.616 149.717 167.389 149.794 167.143C150.075 166.333 149.981 165.1 150.357 164.254V164.254C150.357 164.254 150.357 164.254 150.357 163.867L150.7 162.458L151.513 159.357L152.013 157.631L152.826 155.447C153.408 153.928 154.12 152.477 154.952 151.113C156.321 148.62 158.281 146.607 160.61 145.301C162.919 144.065 165.533 143.754 168.019 144.42C170.538 145.055 172.885 146.36 174.866 148.225C175.859 149.18 176.809 150.191 177.711 151.254C178.461 152.347 179.055 153.509 179.711 154.777C181.603 158.722 182.753 163.063 183.088 167.531C183.307 169.398 183.307 171.054 183.463 172.956C183.619 174.859 183.463 176.479 183.463 178.241C183.497 181.64 183.372 185.038 183.088 188.422C182.713 192.72 182.244 196.948 181.65 201.105C181.337 203.183 180.399 205.156 180.055 207.2C179.711 209.243 179.274 211.286 178.961 213.33C178.649 215.373 177.523 215.549 176.335 213.33C175.575 211.813 174.967 210.206 174.522 208.538C174.178 207.517 174.053 206.46 173.709 205.297C173.273 204.149 172.897 202.973 172.584 201.774C172.146 197.371 172.24 193.178 171.99 189.021L171.646 182.926C171.646 180.953 171.646 178.98 171.396 177.078C171.242 173.608 170.739 170.168 169.895 166.826C169.754 166.121 169.544 165.436 169.27 164.783C169.051 164.29 168.801 163.409 168.676 163.197C168.301 162.352 168.238 161.894 167.988 161.33C167.668 160.585 167.03 160.079 166.3 159.991C165.578 160.135 164.967 160.678 164.674 161.436C164.496 161.819 164.35 162.22 164.237 162.634C164.018 163.303 163.674 164.43 163.393 165.558L162.924 167.39L162.236 170.56L161.017 176.937C160.487 180.64 159.215 184.159 157.297 187.224C156.933 187.727 156.536 188.198 156.109 188.633C155.64 189.138 155.072 189.512 154.452 189.726C153.92 189.832 153.372 189.706 152.92 189.373C152.482 189.091 152.138 188.986 151.607 188.598L150.075 187.541L148.262 185.956L147.793 185.568L147.293 184.829L146.324 183.349L144.386 180.425L142.447 177.395L140.447 174.788C140.103 174.365 139.79 173.907 139.415 173.52L138.758 172.709C138.321 172.252 137.946 171.723 137.508 171.3C135.891 169.481 134.022 167.969 131.975 166.826C131.251 166.453 130.439 166.354 129.661 166.544C128.893 166.834 128.219 167.373 127.723 168.094C126.936 169.314 126.59 170.825 126.754 172.322C126.907 174.608 127.371 176.853 128.129 178.98C129.794 183.738 131.989 188.236 134.663 192.368C139.042 198.752 143.952 204.65 149.325 209.983C150.482 211.216 151.701 212.308 152.826 213.506C157.078 218.121 157.891 220.059 156.796 223.546C156.595 224.347 156.355 225.135 156.077 225.907C154.983 228.302 151.763 227.985 148.012 224.92C136.399 215.239 126.638 203.017 119.314 188.986C117.757 185.918 116.499 182.67 115.562 179.298C115.058 177.315 114.703 175.288 114.499 173.238C114.417 171.889 114.417 170.535 114.499 169.186C114.601 167.76 114.853 166.353 115.249 164.994C115.42 164.311 115.629 163.64 115.875 162.986L116.781 161.119C117.381 159.857 118.105 158.676 118.938 157.596C119.814 156.68 120.752 155.764 121.721 154.918C122.719 154.186 123.764 153.539 124.847 152.981C129.627 151.387 134.784 152.182 139.008 155.165L138.883 155.588Z"
					fill="#C10060"></path>
				<path
					d="M52.3053 69.4958C53.2762 69.4958 52.9943 71.0219 51.9295 73.3998C51.3846 74.4905 50.6619 75.454 49.7998 76.2391C49.1703 76.5249 48.5208 76.7505 47.8581 76.9134C47.5449 76.9134 43.818 75.5293 42.4399 75.2099C41.2032 74.8381 40.0288 74.2386 38.9636 73.4353C36.7713 71.9447 34.485 70.5605 32.23 69.1054C31.7184 68.7857 31.2789 68.3363 30.946 67.7922C29.6979 65.9875 28.0575 64.5811 26.1855 63.7108C25.876 63.4327 25.4629 63.3525 25.0894 63.4978C22.8735 62.9305 20.8306 61.7056 19.1701 59.9487C18.2932 57.8547 17.1971 56.1157 16.1949 54.1991C16.0383 53.9507 15.7564 53.9152 15.8504 53.2764C16.1009 51.8567 15.5685 51.6438 15.1927 51.1469C14.6211 50.3886 14.2422 49.4685 14.0965 48.4851C14.0143 47.8259 14.0143 47.1568 14.0965 46.4976C14.0965 45.8942 15.0048 44.9005 15.1927 44.8295C15.3806 44.7585 15.8817 43.9422 16.1949 43.4453C16.2917 43.2538 16.4073 43.0752 16.5394 42.913C16.5394 42.913 18.0427 42.7 19.6712 42.3806C20.7094 42.2041 21.765 42.2041 22.8031 42.3806L23.774 42.842L25.8723 43.7648L29.474 45.2199C29.8185 45.2199 29.9438 45.8587 30.163 46.2846C30.3822 46.7105 34.7982 48.84 34.9548 49.0174C35.7064 49.8337 36.8026 50.1177 37.0531 51.7857C37.0531 52.1052 37.3037 52.1762 37.4916 52.3181C38.8717 53.4795 40.1324 54.8128 41.2498 56.2931C41.9075 57.0029 42.7531 57.4998 43.4735 58.1387C43.4735 58.1387 43.6614 58.4936 43.7553 58.671C43.8493 58.8485 43.9746 59.1679 44.1625 59.2744C45.8275 60.9055 47.5851 62.4112 49.424 63.7817C49.8938 64.0657 51.1779 66.7985 51.7103 67.0824C52.2427 67.3663 51.9295 69.5313 52.3053 69.4958Z"
					fill="#9D97FF"></path>
				<path
					d="M74.5893 42.9702C75.2608 43.6837 74.1514 44.5042 72.0493 45.2176C71.0903 45.4659 70.1078 45.55 69.1298 45.4674C68.5167 45.1106 67.9328 44.7896 67.4949 44.4685C67.057 44.1474 65.714 40.9012 65.0133 39.6526C64.4101 38.5696 63.9746 37.3604 63.7288 36.0853C63.1449 33.6238 62.415 31.1981 61.7143 28.6653C61.6109 28.0774 61.6109 27.4694 61.7143 26.8816C61.9059 24.7954 61.5912 22.6864 60.8093 20.8171C60.8093 20.4961 60.8093 20.1393 60.1962 19.9253C59.0274 17.973 58.3662 15.6362 58.2985 13.2187C58.8824 11.114 59.1743 9.08064 59.6123 7.04727C59.6123 6.76188 59.6123 6.51217 59.9042 6.15543C60.5259 5.84438 60.8718 5.02913 60.7217 4.22908C60.785 3.29513 61.0466 2.39752 61.4807 1.62493C61.8173 1.13276 62.1994 0.68984 62.6193 0.305022C63.1509 0.0176893 63.7405 -0.0692595 64.3127 0.0553091C64.7506 0.376368 65.3053 0.0553091 65.8016 0.0553091H66.3271C66.3271 0.0553091 67.4365 1.01849 68.6043 1.91032C69.3283 2.4916 69.9776 3.20089 70.5312 4.01504C70.5312 4.01504 70.6772 4.40745 70.8815 4.97822L71.7282 7.01159C72.3413 8.50987 73.1295 10.0081 73.2463 10.3649C73.3631 10.7216 73.2463 11.114 73.2463 11.5064C73.2463 11.8988 74.8812 16.3937 74.9104 16.6077C74.9104 17.6779 75.5235 18.6054 74.7645 19.9253C74.6762 20.1258 74.6762 20.367 74.7645 20.5674C75.123 22.4133 75.2898 24.307 75.2608 26.2038C75.3617 27.1528 75.5079 28.0938 75.6987 29.022C75.7266 29.2107 75.7266 29.404 75.6987 29.5928C75.6436 29.8258 75.6436 30.0732 75.6987 30.3062C75.9128 32.6311 76.2246 34.9411 76.6329 37.2268C76.7789 37.7619 76.0198 40.5444 76.2242 41.1509C76.4286 41.7573 74.3557 42.7205 74.5893 42.9702Z"
					fill="#9D97FF"></path>
				<path
					d="M47.9052 105.481C48.8633 104.914 49.4381 106.439 49.6617 109.027C49.6527 110.24 49.4472 111.441 49.0549 112.573C48.5439 113.212 48.0649 113.85 47.6178 114.311C45.7426 114.963 43.8986 115.72 42.0928 116.58C40.8744 117.193 39.5842 117.61 38.2604 117.821C35.6417 118.424 33.0229 119.24 30.3083 120.055C29.6867 120.197 29.0457 120.197 28.4241 120.055C26.2846 119.62 24.0794 119.829 22.0368 120.658C21.6536 120.658 21.2703 120.658 21.0148 121.367C18.7698 122.696 16.2765 123.424 13.7334 123.495C11.5617 122.75 9.42197 122.396 7.34611 121.864C7.05869 121.864 6.77126 121.864 6.41996 121.438C5.65349 120.126 5.0467 120.445 4.40797 120.374C3.45596 120.184 2.53188 119.85 1.66145 119.382C1.14333 118.986 0.680594 118.508 0.288194 117.963C-0.126978 117.502 0.000767048 115.871 0.0965759 115.658C0.192385 115.446 0.0965759 114.311 0.0965759 113.637C0.0965759 112.963 0.0965759 113.105 0.0965759 112.892C0.779226 111.966 1.50406 111.078 2.26824 110.233C2.93322 109.228 3.7553 108.363 4.6954 107.68L5.78123 107.254L8.08065 106.262L11.7853 104.524C12.1366 104.311 12.6156 104.524 13.0308 104.524C13.4459 104.524 18.5238 102.29 18.7793 102.29C19.9609 102.29 21.0468 101.475 22.42 102.467C22.6755 102.68 22.8991 102.467 23.1546 102.467C25.25 101.952 27.4059 101.808 29.5418 102.042C30.6277 102.042 31.6816 101.865 32.7355 101.829C32.9271 101.829 33.1506 101.829 33.3422 102.042C33.5916 102.138 33.8481 102.209 34.1087 102.255C36.7275 102.006 39.3463 102.574 41.997 102.255C42.6357 102.255 45.5419 103.673 46.2445 103.638C46.9471 103.602 47.5539 105.694 47.9052 105.481Z"
					fill="#9D97FF"></path>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Ashni Patel</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
